.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  font-weight: bolder bold;
  color: black;
}

.nav {
  list-style-type: none;
  width: 500px;
  display: flex;
  justify-content: space-evenly;
}
